body 
{
    background-image: url("pantallahorizontal/fondohbn.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black; 


}

#instruc{

    position: absolute;
    bottom: 18%;
    left: 26%;
    width: 53%;
    height: 51%;
    border: solid;
    border-color: black;
    background-color: antiquewhite;
}
#instrucciones
{
    font-size: 434%;
    position: absolute;
    bottom: 67%;
    left: 18%;
    text-decoration: none;
    color: black;
}
#a
{
    position: absolute;
    bottom: 25%;
    left: 45%;
    font-size: 482%;
    text-decoration: none;
    color: black;
}
#sonido
{
    position: absolute;
    bottom: 41%;
    left: 36%;
    font-size: 434%;
    text-decoration: none;
}
