body 
{
    background-image: url("pantallahorizontal/fondohbn.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black; 


}

#instruc{
    color: red;
    position: absolute;
    bottom: 18%;
    left: 27%;
    font-size: 445%;
    width: 45%;
    height: 67%;
    border: solid;
    border-color: black;
    background-color: antiquewhite;
}

p{
    color: black;
    font-size: 60%;
}

#a
{
    position: absolute;
    bottom: 32%;
    left: 41%;
    font-size: 629%;
    text-decoration: none;
}
